* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23272A;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}